<div class="padding-1">
    <div class="card cardJVPlus card-whiteLess card-radius cardJV-padding-2">
        <form [formGroup]="productoColores" (ngSubmit)="add()">
            <div class="row">
                <div class="col-sm-3">
                    <label for="exampleFormControlInput1" class="form-label">Producto</label>
                    <select class="form-select" aria-label="Default select example" name="idproducto"
                        formControlName="idproducto">
                        <option *ngFor="let producto of ListProducto" value="{{producto.id}}">
                            {{producto.nombreProducto}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="exampleFormControlInput1" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="precio"
                        formControlName="precio">
                </div>
                <div class="col-sm-6">
                    <br>
                    <div class="form-check form-check-inline" *ngFor="let colores of ListColores">
                        <input class="form-check-input" type="radio" id="inlineRadio1" name="idcolor"
                            formControlName="idcolor" value="{{colores.id}}">
                        <div style='height: 12px; width: 12px; display: inline-block; margin-right: 5px;'
                            [style.background-color]="colores.color"> </div>
                        <label class="form-check-label" for="inlineRadio1"> {{colores.nombreColor}}</label>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" title="Guardar" value="Guardar" class="btn btn-primary">
        </form>
    </div>
</div>